label{
    margin-bottom: 10px;
}

.col-lg-6 {
    margin-top: 30px;
}

.btn-primary {
    color: #0d6efd;
    background-color: white;
    border-color: #0d6efd;
    margin-top: 30px;
}
table{
    margin-top: 20px;
}
